<div class="searchOptions" (click)="$event.stopPropagation()">
  <div class="flex items-center">
    <input type="checkbox" name="My" id="My" class="mr-2">
    <p class="pb-1 font-bold">мои</p>
    <input type="text" placeholder="Автор" class="ml-5 p-1 pl-2 w-full border-2">
  </div>
  <div class="flex items-center">
    <p class="mr-5 font-bold">Сотритовать по:</p>
    <select name="sortSelector" class="p-2 border-2 bg-grey-200">
      <option value="1">Дате</option>
      <option value="2">Релевантности</option>
      <option value="3">Рейтингу</option>
    </select>
  </div>
  <div class="checkboxList">
    <div class="flex">
      <input type="checkbox" name="My" id="My">
      <p class="pr-5 pl-2">Я участник</p>
    </div>
    <div class="flex">
      <input type="checkbox" name="My" id="My">
      <p class="pr-5 pl-2">В заголовке</p>
    </div>
    <div class="flex mobile">
      <input type="checkbox" name="My" id="My">
      <p class="pl-2">В контактах</p>
    </div>
    <div class="flex">
      <input type="checkbox" name="My" id="My">
      <p class="pl-2">Строгий поиск</p>
    </div>
  </div>

</div>