@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: 'Roboto Serif', system-ui;
}

body {
  width: 100%;
  min-height: 100vh;
}